body {
    padding: 0;
    margin: 0;
    top: 0;
    
}


/* navbar background */
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20221e;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 6.5vh;
}


/* Everything on the navbar*/
.navitem {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2.7vmin;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    width: 10%;
    z-index: 1;
    height: 100%;
    border: none;
    float: left;
}

#navtitle {
    font-size: 4vmin;
    font-weight: bold;
}

#navitem:hover {
    background-color: #4c8f9e;
    color: #ffffff;
    transition: 0.3s;
}

#navsearch {
    float: left;
}

#navmylists {
    float: right;
}

#navlogin {
    float: right;
}

#navlogout {
    float: right;
}

#navplus {
    float: right;
}