body {
    padding: 0;
    margin: 0;
    top: 0;
    
}

.page {
    width: 100vw;
    height: 93.5vh;
}

/* navbar background */
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20221e;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 6.5vh;
}


/* Everything on the navbar*/
.navitem {
    background-color: #20221e;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2.7vmin;
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    width: 10%;
    z-index: 1;
    height: 100%;
    border: none;
    float: left;
}

#navtitle {
    font-size: 4vmin;
    font-weight: bold;
}

#navitem:hover {
    background-color: #4c8f9e;
    color: #ffffff;
    transition: 0.3s;
}

#navsearch {
    float: left;
}

#navmylists {
    float: right;
}

#navlogin {
    float: right;
}

#navlogout {
    float: right;
}

#navplus {
    float: right;
}

.form-container {
    position: relative;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    left:30%;
    top:20%;
}


.textbox {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.85em;
}

.flash.success {
    margin-top: 10px;
    color: green;
    text-align: center;
}